<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>xxx</title>
    <script src="lib/vue.js"></script>
    <script src="lib/axios.js"></script>
</head>
<body>
<div class="app">
    <button v-on:click = "show = !show">点我</button>
    <button v-on:click="count += 1">增加 1</button>
    <p>{{ message }}</p>
    <p>{{ count }}</p>
    <transition name = "xx">
    <p v-if="show">菜鸟教程 -- 学的不仅是技术，更是梦想！！！</p>
    </transition>
    <input v-model="count" type="text"/>
    <input v-model="message">
</div>
<style>
    .xx-enter-active{
        transition: opacity 2s
    }
    .xx-enter{
        opacity: 0
    }
</style>
<script>
    var app=new Vue({
        el: '.app',
        data: {
            message: 'Hello Vue!',
            count:0,
            show: true
        },mounted () {
            axios.get('http://localhost:8089/day/success').then(response=>{
                this.message = response.data.success;
            }).catch(error=>{
                this.message = "error";
            });
        }
    });

</script>
</body>
</html>